
@{
    ViewBag.Title = "Index";
}

<h2>-----------------MY CV-------------------</h2>
<div>
    
    <table style="width:50%" text-align="left">
        <tr>
            <td><h4>Name: </h4></td>
            <td><h4>Sarwer - E - Alam Sarker </h4></td>
        </tr>
        <tr padding-left="3px">
            <td><h4>ID: </h4></td>
            <td><h4>18-38491-2</h4></td>
        </tr>

    </table>
</div>




