
@{
    ViewBag.Title = "Projects";
}

<h2>-----------------MY CV-------------------</h2>
<h3>PROJECTS</h3>
<div>

    <table style="width:50%" text-align="left">
        <tr>
            <th text-align="centre" colspan="2"><h4><b>C++ Project</b></h4></th>
        </tr>
        <tr>
            <td><h4>Project Name: </h4></td>
            <td><h4>Banking System </h4></td>
        </tr>

    </table>

    <table style="width:50%" text-align="left">
        <tr text-align="centre">
            <th colspan="2"><h4><b>SQL Database project</b></h4></th>
        </tr>
        <tr>
            <td><h4>Project Name: </h4></td>
            <td><h4>Air Travel Agency </h4></td>
        </tr>

    </table>

    <table style="width:50%" text-align="left">
        <tr text-align="centre">
            <th colspan="2"><h4><b>C# Project (.Net Desktop)</b></h4></th>
        </tr>
        <tr>
            <td><h4>Project Name: </h4></td>
            <td><h4>Inventory Management System</h4></td>
        </tr>

    </table>

    <table style="width:50%" text-align="left">
        <tr text-align="centre">
            <th colspan="2"><h4><b>C# Project (.Net Framework)</b></h4></th>
        </tr>
        <tr>
            <td><h4>Project Name: </h4></td>
            <td><h4>Daily Dairy</h4></td>
        </tr>

    </table>

    <table style="width:50%" text-align="left">
        <tr text-align="centre">
            <th colspan="2"><h4><b>Coputer Graphics Project with OpenGL</b></h4></th>
        </tr>
        <tr>
            <td><h4>Project Name: </h4></td>
            <td><h4>Day & Night Scenario of a village</h4></td>
        </tr>

    </table>

    <table style="width:50%" text-align="left">
        <tr text-align="centre">
            <th colspan="2"><h4><b>Bsic Web Project</b></h4></th>
        </tr>
        <tr>
            <td><h4>Project Name: </h4></td>
            <td><h4>Tution Hub</h4></td>
        </tr>

    </table>

</div>

