<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div><a hreg="" class="btn btn-success">Home</a> <a href="" class="btn btn-danger">List</a></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
